.btn-main {
  display: block;
  background: #fff;
  color: #050000;
  max-width: 230px;
  padding: 7px 0px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  border: #39B54A solid 1px;
  border-radius: 50px;
  cursor: pointer;
}
.btn-main :hover {
  background: #39B54A;
  color: #fff;
}
