
.avatar-upload,
.image-upload {
  display: inline-block;
  position: relative;
  max-width: 205px;
}
.avatar-upload .avatar-edit,
.image-upload .image-edit {
  position: absolute;
  z-index: 1;
}
.avatar-upload .avatar-edit {
  right: 14px;
  top: 12px;
}
.image-upload .image-edit {
  right: -13px;
  top: 10px;
}
.avatar-upload .avatar-edit input,
.image-upload .image-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label,
.image-upload .image-edit input + label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover,
.image-upload .image-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after,
.image-upload .image-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: rgba(57, 181, 74, 0.67);
  position: absolute;
  top: 1.5px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
